### US States Capital

In [1]:
import pandas as pd

# data source url from wikipedia
url = 'https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States'

In [2]:
# dataFrame
df = pd.read_html(url)

In [3]:
df = df[1]
df.head(3)

  Flag, name &postal abbreviation[12]                                        \
  Flag, name &postal abbreviation[12] Flag, name &postal abbreviation[12].1
0                             Alabama                                    AL
1                              Alaska                                    AK
2                             Arizona                                    AZ

       Cities             Ratificationor admission[C] Population[D][14]  \
      Capital Largest[16] Ratificationor admission[C] Population[D][14]
0  Montgomery  Birmingham                Dec 14, 1819           4903185
1      Juneau   Anchorage                 Jan 3, 1959            731545
2     Phoenix     Phoenix                Feb 14, 1912           7278717

  Total area[15]          Land area[15]          Water area[15]          \
             mi2      km2           mi2      km2            mi2     km2
0          52420   135767         50645   131171           1775    4597
1         665384  1723337        570641  1477953          94743  245384
2         113990   295234        113594   294207            396    1026

  Numberof Reps.
  Numberof Reps.
0              7
1              1
2              9

In [4]:
df.shape

(50, 13)

In [5]:
df.columns.droplevel(1)

Index(['Flag, name &postal abbreviation[12]',
       'Flag, name &postal abbreviation[12]', 'Cities', 'Cities',
       'Ratificationor admission[C]', 'Population[D][14]', 'Total area[15]',
       'Total area[15]', 'Land area[15]', 'Land area[15]', 'Water area[15]',
       'Water area[15]', 'Numberof Reps.'],
      dtype='object')

In [6]:
df.columns.droplevel(0)

Index(['Flag, name &postal abbreviation[12]',
       'Flag, name &postal abbreviation[12].1', 'Capital', 'Largest[16]',
       'Ratificationor admission[C]', 'Population[D][14]', 'mi2', 'km2', 'mi2',
       'km2', 'mi2', 'km2', 'Numberof Reps.'],
      dtype='object')

In [7]:
df.columns = df.columns.droplevel(0)
df.head(3)

,"Flag, name &postal abbreviation[12]","Flag, name &postal abbreviation[12].1",Capital,Largest[16],Ratificationor admission[C],Population[D][14],mi2,km2,mi2,km2,mi2,km2,Numberof Reps.
0,Alabama,AL,Montgomery,Birmingham,"Dec 14, 1819",4903185,52420,135767,50645,131171,1775,4597,7
1,Alaska,AK,Juneau,Anchorage,"Jan 3, 1959",731545,665384,1723337,570641,1477953,94743,245384,1
2,Arizona,AZ,Phoenix,Phoenix,"Feb 14, 1912",7278717,113990,295234,113594,294207,396,1026,9

In [8]:
df.columns

Index(['Flag, name &postal abbreviation[12]',
       'Flag, name &postal abbreviation[12].1', 'Capital', 'Largest[16]',
       'Ratificationor admission[C]', 'Population[D][14]', 'mi2', 'km2', 'mi2',
       'km2', 'mi2', 'km2', 'Numberof Reps.'],
      dtype='object')

### Columns rename

In [9]:
# method 1 rename specific columns
# df.rename(columns={'Flag, name &postal abbreviation[12]':'State_name', 'Flag, name &postal abbreviation[12].1':'Abbrev'}, inplace=True)
# df.head(1)

In [10]:
# another method rename all
new_col = ['State_name', 'State_Abbrev', 'Capital_city', 'Largest_city', 'Ratificationor_admission', 'Population', 'Total_area_mi2', 'Total_area_km2', 'Land_area_mi2', 'Land_area_km2', 'Water_area_mi2', 'Water_area_km2', 'No_Reps']
df.columns = new_col
df.head(3)

,State_name,State_Abbrev,Capital_city,Largest_city,Ratificationor_admission,Population,Total_area_mi2,Total_area_km2,Land_area_mi2,Land_area_km2,Water_area_mi2,Water_area_km2,No_Reps
0,Alabama,AL,Montgomery,Birmingham,"Dec 14, 1819",4903185,52420,135767,50645,131171,1775,4597,7
1,Alaska,AK,Juneau,Anchorage,"Jan 3, 1959",731545,665384,1723337,570641,1477953,94743,245384,1
2,Arizona,AZ,Phoenix,Phoenix,"Feb 14, 1912",7278717,113990,295234,113594,294207,396,1026,9

### Filter State

In [11]:
selected_state = df['State_name']

In [12]:
# Select State
import ipywidgets as wg
from IPython.display import display

## Add dropdown list

State = wg.widgets.Dropdown(
    options= selected_state ,
    value='Alabama',
    description='State Name:',
    disabled=False,)
State

Dropdown(description='State Name:', options=('Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colora…

In [13]:
selected_state = f'{State.value}'
selected_state

filt1 = df['State_name'] == selected_state
df[filt1].head(3)

,State_name,State_Abbrev,Capital_city,Largest_city,Ratificationor_admission,Population,Total_area_mi2,Total_area_km2,Land_area_mi2,Land_area_km2,Water_area_mi2,Water_area_km2,No_Reps
4,California,CA,Sacramento,Los Angeles,"Sep 9, 1850",39512223,163695,423967,155779,403466,7916,20501,53

### Selected columns & filter the capital

In [14]:
df2 = df[['State_name', 'State_Abbrev', 'Capital_city', 'Largest_city']]

In [15]:
filt1 = df2['State_name'] == selected_state
df2[filt1].head(3)

   State_name State_Abbrev Capital_city Largest_city
4  California           CA   Sacramento  Los Angeles

In [16]:
df2.set_index('State_name', inplace=True)
selected_capital = df2.loc[selected_state, 'Capital_city']

### Marker, State Capital on Map

In [17]:
from ipyleaflet import Map, Marker
# install geocoder first from python.org python package index
import geocoder

# location address
location = geocoder.osm(selected_capital)
# to view location details use location.json

# latitude and longitude of location
latlng = [location.lat, location.lng]

# create map
Capital_map = Map(center=latlng)

# marker
marker = Marker(location=latlng, title=selected_capital)
Capital_map.add_layer(marker)

# display map
Capital_map

Map(center=[38.5815719, -121.4943996], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_tit…